# 변수 만들기

## 변수에 값 할당하기

- 변수명 = 변수값
- 변수에 값이 할당될 때 변수값의 자료형에 따라 변수의 자료형이 결정된다.

In [1]:
name = 'james'
age = 20
height = 175.0
ischild = age<20

## 변수값, 자료형 출력
- 변수에 접근 할 때는 변수명 사용
- 변수값 출력 > print(변수명)
- 변수 자료형 출력 : print(type(변수명))

In [4]:
print(name)
print(type(name))

james
<class 'str'>

In [5]:
print(age)
print(type(age))

20
<class 'int'>

In [6]:
print(height)
print(type(height))

175.0
<class 'float'>

In [7]:
print(ischild)
print(type(ischild))

False
<class 'bool'>

## 쌍따옴표나 홑따옴표가 포함되어 있는 문자열 사용하기
- 홑따옴표가 포함되어 있는 문자열 사용하기
- '낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

In [8]:
a = "'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다."
print(a)

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

- 쌍따옴표가 포함되어 있는 문자열 사용하기'
- "시간은 금"이라는 말이 있다.

In [9]:
b = '"시간은 금"이라는 말이 있다.'
print(b)

"시간은 금"이라는 말이 있다.

## 키보드로 변수에 값 입력 받기

- input()
- input으로 입력받은 값은 무조건 str

In [10]:
a = input('나이 : ')

나이 : 20

In [11]:
type(a)

str

## 자료형 변환하기
- int(value) : int 형으로 변환

In [12]:
age = int('20')
type(age)

int

- str(value) : str형으로 변환

In [13]:
age = str(20)
type(age)

str

- float(value) : float형으로 변환

In [14]:
age = float(20)
type(age)

float

- input으로 입력받은 값을 숫자형으로 변환하여 사용하기

In [15]:
a = int(input('나이 : '))

나이 : 20

In [16]:
type(a)

int